Правила игры:
Игра "камень-ножницы-бумага-ящерица-Спок" - это усовершенствованный аналог широко известной игры
"камень-ножницы-бумага". Общий принцип аналогичен, но добавлены новые фигуры.
1. Камень может затупить ножницы и раздавить ящерицу, но его заворачивает бумага и испаряет Спок
с помощью бластера.
2. Ножницы разрезают бумагу и отрезают ящерице голову, но их ломает Спок и тупит камень.
3. Бумага содержит компромат на Спока и может завернуть камень, но её съедает ящерица и режут
ножницы.
4. Ящерица может смертельно отравить Спока укусом и слопать бумагу, но погибает от камня и ножниц.
5. Спок уничтожает камень и ножницы, укус ящерицы и компромат на бумаге побеждают его.

